@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import "../../node_modules/bulma/bulma.sass";

$is-light: whitesmoke;
html,
body {
  background-color: $is-light;
}
div#root {
  background-color: $is-light;
}
div.mainContainer {
  margin: 0 50px;
}